/*==========================================================*/
.fondo31T{
    -fx-background-image: url("3.1Tema_ejemplo.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo31D{
    -fx-background-image: url("3.1Diagrama.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo31E1{
    -fx-background-image: url("3.1Ejercicio1.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo31E2{
    -fx-background-image: url("3.1Ejercicio2.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
/*==========================================================*/
.fondo32T{
    -fx-background-image: url("3.2Tema_ejemplo.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo32D{
    -fx-background-image: url("3.2Diagrama.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo32E1{
    -fx-background-image: url("3.2Ejercicio1.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo32E2{
    -fx-background-image: url("3.2Ejercicio2.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
/*==========================================================*/
.fondo33T{
    -fx-background-image: url("3.3Tema_ejemplo.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo33D{
    -fx-background-image: url("3.3Diagrama.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo33E1{
    -fx-background-image: url("3.3Ejercicio1.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo33E2{
    -fx-background-image: url("3.3Ejercicio2.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
/*==========================================================*/
.fondo34T{
    -fx-background-image: url("3.4Tema_ejemplo.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo34D{
    -fx-background-image: url("3.4Diagrama.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo34E1{
    -fx-background-image: url("3.4Ejercicio1.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo34E2{
    -fx-background-image: url("3.4Ejercicio2.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
/*==========================================================*/
.fondo35T{
    -fx-background-image: url("3.5Tema_ejemplo.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo35D{
    -fx-background-image: url("3.5Diagrama.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo35E1{
    -fx-background-image: url("3.5Ejercicio1.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo35E2{
    -fx-background-image: url("3.5Ejercicio2.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
/*==========================================================*/
.fondo36T{
    -fx-background-image: url("3.6Tema_ejemplo.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo36D{
    -fx-background-image: url("3.6Diagrama.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo36E1{
    -fx-background-image: url("3.6Ejercicio1.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
.fondo36E2{
    -fx-background-image: url("3.6Ejercicio2.png");
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}
/*==========================================================*/

.ejercicios{
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-insets: 0;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(gaussian,black,3,0.5,2,2);
}
.ejercicios:hover{
    -fx-border-color: white;
    -fx-border-width: 2; 
}